
.select{
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    color: black;     
    font-size: 15px;
    cursor: pointer;
    background-color: #0b6dee;
    height: 6vh;
    width: 10vw;
}