.select{
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    background-color: #0b6dee;
    color: black;     
    font-size: 15px;
    cursor: pointer;
    height: 6vh;
    width: 12vw;
    align-items: center;
}